@tailwind base;
@tailwind components;
@tailwind utilities;

/*Zero styles*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body,
#root {
  @apply bg-teal-900;
  font-family: "Lato", sans-serif;
  height: max(100%, 600px);
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

.app {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1544287757-a8ab80d90b60?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8dGVubmlzJTIwY2xheXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60);
}

.scoreboard {
  transition: all 0.3s ease;
  background: #0a493a;
  background: linear-gradient(
    138deg,
    rgba(10, 73, 58, 1) 0%,
    rgb(36, 107, 90) 100%
  );
}

.scoreboard:hover {
  background: linear-gradient(
    0deg,
    rgba(10, 73, 58, 1) 0%,
    rgba(36, 107, 90, 1) 100%
  );
}

.scoreboard:hover .current-game {
  background: linear-gradient(
    -34deg,
    rgba(234, 232, 234, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.scoreboard:hover .current-set {
  background: linear-gradient(
    -120deg,
    rgba(54, 160, 110, 1) 0%,
    rgba(70, 166, 118, 1) 100%
  );
}

.current-set {
  background: rgb(54, 160, 110);
  background: linear-gradient(
    0deg,
    rgba(54, 160, 110, 1) 0%,
    rgba(70, 166, 118, 1) 100%
  );
}
.current-game {
  background: rgb(234, 232, 234);
  background: linear-gradient(
    34deg,
    rgba(234, 232, 234, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.navigation-btn {
  @apply rounded-md sm:px-8 px-0 py-4 text-4xl basis-1/3 sm:basis-auto text-center transition-colors flex items-center shadow-md text-white;
}

.navigation-btn svg {
  @apply mx-auto;
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.max-w {
  @apply md:max-w-[7rem] sm:max-w-[6rem] max-w-[4.5rem];
}
