@tailwind base;
@tailwind components;
@tailwind utilities;

/*Zero styles*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body,
#root {
  @apply bg-teal-900;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

.scoreboard {
  transition: all 0.3s ease;
  background: rgb(10, 73, 58);
  background: linear-gradient(
    138deg,
    rgba(10, 73, 58, 1) 0%,
    rgba(36, 107, 90, 1) 100%
  );
}

.scoreboard:hover {
  background: linear-gradient(
    0deg,
    rgba(10, 73, 58, 1) 0%,
    rgba(36, 107, 90, 1) 100%
  );
}

.scoreboard:hover .current-game {
  background: linear-gradient(
    -34deg,
    rgba(234, 232, 234, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.scoreboard:hover .current-set {
  background: linear-gradient(
    -120deg,
    rgba(54, 160, 110, 1) 0%,
    rgba(70, 166, 118, 1) 100%
  );
}

.current-set {
  background: rgb(54, 160, 110);
  background: linear-gradient(
    0deg,
    rgba(54, 160, 110, 1) 0%,
    rgba(70, 166, 118, 1) 100%
  );
}
.current-game {
  background: rgb(234, 232, 234);
  background: linear-gradient(
    34deg,
    rgba(234, 232, 234, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
